# Copy to .env.local
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up

DATABASE_URL=postgresql://user:pass@localhost:5432/ghostai

NEXT_PUBLIC_LIVEBLOCKS_PUBLIC_KEY=
LIVEBLOCKS_SECRET_KEY=

BLOB_READ_WRITE_TOKEN=

TRIGGER_PROJECT_REF=
TRIGGER_SECRET_KEY=

GOOGLE_GENERATIVE_AI_API_KEY=
